body {
  text-align: center;
  background-color: #FDF;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 12px;
}
h1 {
  color: #88D;
}
h2 {
  color: #9DA;
}

