/*
KoiBots purple: #662d91
*/

body {
  padding: 2px;
  font-size: 2vw;
  font-family: Montserrat;
  text-align: center;
  margin: -2vw;
}
h1, h2 {
  color: #FFF;
  font-family: Varela;
}
img {
  width: 100vw;
  height: 80vw;
}
.b {
  margin-top: 1vw;
}
#navbar {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  background-color: #333;
  margin: 0vw;
  padding: 0vw;
  overflow: hidden;
}
#navbar a {
  float: left;
  display: inline;
  color: #FFF;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none;
  font-size: 2vw;
  font-family: Montserrat;
}
#navbar a img.a {
  position: absolute;
  top: 0;
  right: 0;
  width: 9vw;
  height: 9vw;
  float: right;
  padding: 0vw;
  margin-top: 0vw;
  margin-right: 0vw;
}
#navbar a img.c {
  position: absolute;
  top: 0;
  left: 0;
  width: 9vw;
  height: 12vw;
}
#navbar a.active {
  background-color: #662d91;
  color: #FFF;
}
#navbar a:hover {
  background-color: #FFFE30;
  color: black;
}
#navbar a img:hover {
  background-color: #333;
}
section {
  padding: 5vw;
}
.flyer{
  width: 100%;
  height: 100%;
}
