ul {
  border: #013223;
  background-color: #808080;
}
li {
  border: 1px solid #54AC54;
  background-color: #4578DD;
  color: #AC7755;
}
form {
  text-align: center;
}
button {
  color: #FAA;
  background-color: #FFF;
}
