body {
  background-color: #FFE4C4;
  margin: 40px;
}
section {
  background-color: #FFF8DC;
  padding: 20px;
}
h1, footer {
  text-align: center;
}
footer {
  margin-top: 20px;
}
a:link, a:visited {
  color: #000;
  text-decoration: none;
}
b {
  color: #800000;
}
strong {
  color: #D2691E;
}
em {
  color: #4FE885;
  text-decoration: none;
  border: 2px red;
  font-size: 13.5px;
  padding: 5px;
}
i {
  color: #029;
  text-align: right;
}
code {
  background-color: #060;
  color: #D56825;
  text-align: left;
}
kbd {
  background-color: #369;
  color: #F30588;
}
sup {
  color: #DC5C89;
  border: 9px solid green;
  margin: 5px;
}
sub {
  border: 1px;
 font-size: 21px;
text-decoration: underline;
}
q {
  color: #DD0488;
  font-size: 30px;
  text-align: center;
}

  
